@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --scrollLength: 100vh;
  --scrollLink-color:#ff7f50;
}

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

*:last-child {
  margin-bottom: 0;
}

.wrapper {
  position:absolute;
  top: var(--scrollLength);
  bottom: 0;
  right: 0;
  margin-right: 2rem;
  width: 3rem;
  pointer-events: none;
}

.scroll-link{
  top: calc(100vh - 5rem);
  border: none;
  background-color: scale-color(var(--scrollLink-color), var(--ligthness, 85%));
  transition: transform 80ms ease-in;
}

.scroll-link:hover,
scroll-link:focus {
  transform:scale(1.1)
}

.scroll-link:focus{
  outline: none;
  box-shadow: 0 0 0 3px scale-color(var(--scrollLink-color), var(--ligthness, 35%));
}

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }

  /* .navigator{
    @apply after:content-[''] after:absolute after:h-[2px] after:w-full after:bg-red-400 after:left-0 after:bottom-[-.15rem] after:scale-x-0 after:scale-y-100 after:transition-all after:duration-200
  }

  .navigator-hover{
    @apply after:hover:scale-x-100 after:hover:scale-y-100
  } */

}



